.quando-acontece {
  background: #636E72;
  color: #fff;
  padding: 40px 0px;
}

.quando-acontece-flexSection  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.quando-acontece-flexSection h3 {
  font-size: 34px;
  margin: 20px auto;
}

.quando-acontece-flexSection p {
  margin: 10px auto;
}

.quando-acontece-flexSection .quando-acontece-flexItem .calendar {
  margin-right: 20px;
}

@media screen and (max-width: 767px){
  .quando-acontece-flexSection {
    flex-direction: column;
    text-align: center;
  }
}
