.headerHome {
  background: url("../../assets/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 0px 0px 0px;
}

.headerHome:before {
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent, rgba(90, 90, 90, 0.863));
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.headerHome .row:first-child .head,
.headerHome .row:first-child .head .nav {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.headerHome .row:first-child .nav {
  justify-content: flex-end;
}

.headerHome .row:first-child .head .nav a {
  margin: 0px;
  color: #fff;
  width: 150px;
  text-align: center;
  font-size: 1em;
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.headerHome .row:first-child .head .nav a:hover {
  text-decoration: underline;
}

.headerHome .title h1 {
  font-size: 4em;
  color: #fff;
  font-weight: 900;
  line-height: 70px;
  position: relative;
  text-shadow: 0px 0px 25px #111111;
  z-index: 1;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0px -52px 0px;
}

@media screen and (max-width: 767px){
  .headerHome {
    padding: 0px;
    background-size: cover;
  }

  .headerHome .title {
    padding: 10px 0px;
  }

  .headerHome .title h1{
    margin: 40px 0px 10px 0px;
    font-size: 40px;
    line-height: 46px;
  }

  .headerHome .row:first-child .head {
    position: relative;
    justify-content: center;
    padding-top: 10px;
  }

  .headerHome .row:first-child .head .nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    transform: translateX(100%);
  }
}