.lgpdDrawer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 10px;
  background: #FDFAFE;
  box-shadow: -20px 10px 10px 10px rgba(0,0,0,.3);
  transition: all 0.4s ease;
  z-index: 99;
}

.lgpd-flexSection {
  display: flex;
  justify-content: space-between;
}

.lgpd-flexSection p {
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.lgpd-flexItem:first-child {
  width: 90%;
}

.lgpd-flexItem:last-child {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lgpd-flexItem p {
  line-height: 22px;
  font-family: "Roboto";
}

@media screen and (max-width: 767px){
  .lgpd-flexSection {
    flex-direction: column;
  }

  .lgpd-flexItem:first-child,
  .lgpd-flexItem:last-child {
    width: 100%;
  }

  .lgpd-flexItem:last-child {
    margin: 10px auto 0px auto;
  }

  .lgpd-flexItem:last-child button {
    width: 100%;
    padding: 10px;
  }
}
