.quando-acontece {
  background: #fff;
  color: #111;
  padding: 40px 0px;
  margin: 0 auto;
}

.quando-acontece-flexSection  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quando-acontece-flexSection h3 {
  font-size: 26px;
  margin: 20px auto;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.quando-acontece-flexSection p {
  margin: 10px auto;
}

.quando-acontece-flexSection .quando-acontece-flexItem .calendar {
  margin-right: 20px;
}

.icone-calendar {
  font-size: 72px;
  color: #A80532;
  margin: 0px 40px;
}

@media screen and (max-width: 767px){
  .quando-acontece-flexSection {
    flex-direction: column;
    text-align: center;
  }
}
