.courseInformationNew {
  background: linear-gradient(to bottom, #723090, #B8147E);
  padding-top: 54px;
}

.courseInformation-flexSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.courseInformation-flexSection .item p,
.courseInformation-flexSection .item small {
  color: #fff;
  font-family: "Open sans", sans-serif;
}

.courseInformation-flexSection .item {
  width: 50%;
}

.courseInformation-flexSection .item:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 40px;
}

.courseInformation-flexSection .item .listItem {
  display: flex;
  margin: 10px 0px;
}

.courseInformation-flexSection .item .listItem div:last-child {
  padding-left: 10px;
}
