.cta-footer-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.cta-footer-container p {
  color: #111;
}

@media screen and (max-width: 767px){
  .cta-footer-container {
    padding: 10px;
    text-align: center;
  }
}
