@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@font-face {
  font-family: "espm";
  src:url("/src/assets/fonts/espm.eot");
  src:url("/src/assets/fonts/espm.eot?#iefix") format("embedded-opentype"),
    url("/src/assets/fonts/espm.woff") format("woff"),
    url("/src/assets/fonts/espm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "espm" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icone-"]:before,
[class*=" icone-"]:before {
  font-family: "espm" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icone-calendar:before {
  content: "\e113";
}

.icone-022-teamwork:before {
  content: "\e047";
}

:root {
  --section-title-color: #414141;
  --black: #111;
}

*:focus{
  box-shadow: none !important;
}

html {
  scroll-behavior: smooth;
}
