.para-quem-se-destina {
  position: relative;
  margin: 40px auto;
}

.para-quem-se-destina .para-quem-se-destina-container {
  display: flex;
}

.para-quem-se-destina .para-quem-se-destina-container .item h3 {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 3em;
  color: #111;
}

.para-quem-se-destina .para-quem-se-destina-container .item:first-child {
  width: 30%;
  margin-top: -38px;
}

.para-quem-se-destina .para-quem-se-destina-container .item:last-child {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #111;
}

.para-quem-se-destina .para-quem-se-destina-container .item .icon-container {
  background: #fff;
  border: 2px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.para-quem-se-destina .para-quem-se-destina-container .item .icon-container i {
  font-size: 90px;
  color: #111;
  margin-bottom: -24px;
}
