.header-course {
  background: url("../../assets/nav-bg.jpg");
  background-position: center;
  background-size: 100%;
  position: relative;
  padding: 20px;
}

.header-course:before {
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent, #73747599);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.header-course .row:first-child .course-head,
.header-course .row:first-child .course-head .nav {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  width: 100%;
}

.header-course .row:first-child .nav {
  justify-content: space-around;
}

.header-course .row:first-child .course-head .nav a {
  margin: 0px 40px;
  color: #f1f1f1;
  width: 130px;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
}

.header-course .row:first-child .course-head .nav a:hover {
  text-decoration: underline;
}

.header-course .title h1 {
  font-size: 40px;
  color: #f1f1f1;
  font-weight: 700;
  line-height: 50px;
  margin: 80px 0px 20px 0px;
  position: relative;
  z-index: 1;
}

.header-course .title p {
  color: #f1f1f1;
  font-size: 22px;
  position: relative;
  z-index: 1;
}

.inicio {
  display: flex;
}

.inicio p {
  margin-right: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  color: #f1f1f1;
}

.inicio p svg {
  margin: 0px 10px 0px 0px;
}

.cta {
  padding: 20px 0px;
  width: 260px;
}

.modal-cta {
  width: 100%;
  margin: 2px auto 20px auto;
}

@media screen and (max-width: 767px){
  .header-course {
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-course .title {
    padding: 10px 0px;
  }

  .header-course .title h1{
    margin: 10px 0px 10px 0px;
  }

  .header-course .row:first-child .course-head {
    position: relative;
    justify-content: center;
    padding-top: 10px;
  }

  .header-course .row:first-child .course-head .nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    transform: translateX(100%);
  }

  .inicio {
    flex-direction: column;
  }

  .inicio p {
    margin: 6px auto;
    justify-content: flex-start;
    width: 100%;
  }

  .cta {
    padding: 0px;
    margin: 20px auto;
    text-align: center;
    width: 100%;
  }
}
